*.aux
*.bbl
*.blg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.toc
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.nav
*.snm
*.vrb
*.dvi
*.rel
.DS_Store
linear-algebra.pdf
objectives.pdf
linear-algebra.ent